<!DOCTYPE html>
<html>
<head>
	<title>Payment</title>
	<link rel="stylesheet" type="text/css" href="css/payment.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="js/pay.js"></script>
</head>
<body ng-app="mymodule" ng-controller="datacontroller">
	<div id="d1">
		<img src="img/1.jpg" width="5.5%">
		<h1 id="h1">&nbsp;&nbsp;<a href="index.html">Music</a></h1>
		<h1 class="hh1"> <a href="login.html">Sign in</a>&nbsp; | &nbsp; <a href="register.html"> Register</a></h1>
	</div>
	<div id="d2">
		<h1 style="text-align: center;" class="h2">Plans</h1>
		<table>
			<tr>
				<th>Mini</th>
				<th>Individual</th>
				<th>Duo</th>
				<th>Family</th>
			</tr>
			<tr>
				<td>One-time plans from ₹7</td>
				<td>One-time plans from ₹129. Auto-renew plans temporarily unavailable.</td>
				<td>One-time plans from ₹165. Auto-renew plans temporarily unavailable.</td>
				<td>One-time plans from ₹199. Auto-renew plans temporarily unavailable.</td>
			</tr>
			<tr>
				<td>1 account</td>
				<td>1 account</td>
				<td>2 accounts</td>
				<td>Up to 6 accounts</td>
			</tr>
			<tr>
				<td style="text-align: left;">
					<ul>
						<li>Listen to music ad-free on mobile</li>
						<li>Group Session</li>
						<li>Download 30 songs on 1 mobile device</li>
					</ul>
				</td>
				<td style="text-align: left;">
					<ul>
						<li>Listen to music ad-free</li>
						<li>Group Session</li>
						<li>Download 10k songs/device on 5 devices</li>
					</ul>
				</td>
				<td style="text-align: left;">
					<ul>
						<li>Listen to music ad-free</li>
						<li>Group Session</li>
						<li>Download 10k songs/device on 5 devices per account</li>
					</ul>
				</td>
				<td style="text-align: left;">
					<ul>
						<li>For family who live together</li>
						<li>Block explicit music</li>
						<li>Listen to music ad-free</li>
						<li>Group Session</li>
						<li>Download 10k songs/device on 5 devices</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td><input type="radio" name="r1" value="plan1" ng-model="rad1"> Choose plan</td>
				<td><input type="radio" name="r1" value="plan2" ng-model="rad1"> Choose plan</td>
				<td><input type="radio" name="r1" value="plan3" ng-model="rad1"> Choose plan</td>
				<td><input type="radio" name="r1" value="plan4" ng-model="rad1"> Choose plan</td>
			</tr>
		</table>
		<div style="margin-left: 1%;">
			<h1 style="padding-top: 4%;">Your choice: </h1>
			<table style="width:500px; border:2px solid black;">
			   <thead>
				   <tr style="text-align:left">
				   <th> Plan: </th>
				   <th> Benefits: </th>
				   <th> Price: </th>
				   </tr>
				</thead>
			   <tbody>
				   <tr ng-repeat="plan in plans|filter:rad1">
				   <td>{{ plan.name }}</td>
				   <td>{{ plan.benefits }}</td>
				   <td>{{ plan.price|currency:"₹ " }}</td>
				   </tr>
			   </tbody>
		   </table> 
		</div>
		<button ng-disabled="!rad1" onclick="window.location='https://www.onlinesbi.com/'"> <span>Pay now!!</span> </button>
	</div>
</body>
</html>